{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
<div class="container">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Users/jenny/Desktop/hackathon/src/Controller/EasyAdminController.php'|file_link(0) }}">src/Controller/EasyAdminController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/jenny/Desktop/hackathon/templates/easy_admin/index.html.twig'|file_link(0) }}">templates/easy_admin/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
